/* This CSS file will need to be added to the styling of
your web pages for the styles to be rendered. */
navbar {
background-color: #333;
color: white;
}

body {
background-color: #333;
color: white;
}

a {
    color: #ffc107;
}



.space-above {
    margin-top: 20px;    padding-top: 20px;
}
