{%extends 'base.html'%}


{%block content%}


<section>

        <div class="container">
      <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
        </div>
    <div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>ALEX JENKINS <br>PORTFOLIO
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Nibh ipsum consequat nisl vel pretium lectus.
            </p>
            <button>
                <p>HIRE ME</p>
            </button>
        </div>
        <div class="col-lg-6">
            <h2>
        <img src="static/img/coding-memoji.png">
         </h2>
        </div>
    </div>
    </div>
    </div>


</section>
<section>
    <div class="container">

    </div>
</section>
{% endblock %}


