{%extends 'base.html'%}


{%block content%}


<section class="container">

        <div class="container">
      <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
        </div>
    <div class="container">

        <div class="row">

        <div class="col-lg-6">

            <div class="container .mx-auto m-5">
            <h1>ALEX JENKINS <br>PORTFOLIO</h1>
                <p>
                Lorem ipsum dolor sit amet, consectetur<br>
                adipiscing elit,<br>
                sed do eiusmod tempor incididunt ut labore <br>
                et dolore magna aliqua.<br>
                Nibh ipsum consequat nisl vel pretium lectus.<br>
                </p>
            <div class="d-grid col-6"><a class="btn btn-primary" href="#" role="button">Hire</a></div>
            </div>

        </div>
        <div class="col-lg-6">

        <div class="text-center">
        <img src="static/img/coding-memoji.png" class="img-fluid">
        </div>

            <br>
            <div class="d-grid col-6 mx-auto">
         <a class="btn btn-primary" href="#" role="button">
             Resume
         </a>
            </div>
        </div>
    </div>
    </div>
    </div>


</section>
<br>
<br>
<section class="container">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-center">
                    <h2> About Me </h2>
                    <img src="static/img/verticle-profile-stage.JPG" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                        <h3>Game Design</h3>
                        <p>
                Lorem ipsum dolor sit amet, consectetur<br>
                adipiscing elit,<br>
                Nibh ipsum consequat nisl vel pretium lectus.<br>
                </p>
                    </div>
                    <div class="col-lg-6">
                        <img src="static/img/controller.png" class="img-fluid">
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <img src="static/img/pyhton_icon.png" class="img-fluid">
                    </div>
                    <div class="col-lg-6">
                        <h3>Pyhton Junior Developer</h3>
                        <p>
                Lorem ipsum dolor sit amet, consectetur<br>
                adipiscing elit,<br>
                Nibh ipsum consequat nisl vel pretium lectus.<br>
                </p>
                    </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


